---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <h1>Välj ett recept..</h1>
</SiteLayout>
